<div class="content">
    <p>
        <span class="highlight">Dedicate daily moments to activities that bring joy</span> and celebrate your daily wins, aligning these practices with your life's values and purpose. Maintain connections and seek support from your social network. Prioritize your responsibilities, learning to say no when overwhelmed. In addition to personal time, invest in acts of service in your community that align with your passions, enhancing your sense of fulfillment and connection.
    </p>
  </div>
