<div class="content">
    <p>
      <span class="highlight">Emotional wellness</span> allows us to navigate life's stresses with resilience, leading to fewer negative emotions and quicker recovery from setbacks. It's less about the absence of negative feelings and more about managing them effectively. For instance, while job loss might provoke anger or fear, those with good emotional health recognize these emotions without letting them derail their behavior or worsen the situation. Effective emotion management is key to maintaining balance and constructive responses to life's challenges.
    </p>
  </div>
