 /* Content Styles */
 .content {
    text-align: center;
    padding-top: 70px; /* adjust this value based on the height of your navbar */
    font-size: 1.2em; /* makes the text bigger and more readable */
    max-width: 800px; /* max-width for better readability on wide screens */
    margin: auto; /* centers the div */
}
  
.highlight {
    font-weight: bold; /* makes the text bold */
    font-size: 1.3em; /* makes the text slightly larger */
}